
html:before {
content: "";
        position: absolute;
        height: 20%; width: 20%;
        background: url(../bg.jpg);
        background-size: cover;
        z-index: -1; /* Keep the background behind the content */
        
        /* don't forget to use the prefixes you need */
        -webkit-transform: scale(5);
        -webkit-transform-origin: top left;
        -webkit-filter: blur(1px);
        overflow: hidden;

}
body{
    padding-top: 61px; }